---
- name: Test Nginx config
  command: nginx -t
  notify: Reload Nginx
  tags: nginx

- name: Reload Nginx
  service:
    name: nginx
    state: reloaded
  tags: nginx

- notify: Reload Zabbix agent
  service:
    name: zabbix-agent
    state: reloaded
  tags: zabbix
